.btn-container {
  margin-top: 7rem;
}

.catogry-wrapper #menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}
.catogry-wrapper {
  margin-left: 20rem;
  background-color: white;
}

/* .catorgy-img {
  height: 20rem !important;
  transition: all ease 1s;
} */

.package-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.catorgy-imgs:hover {
  transform: scale(1.05);
}

.packagesBoxs .catorgy-imgs {
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: pointer;
}

.packagesBoxs {
  /* margin-top: 8rem; */
  background-color: white;
}
.packagesBoxs img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}

.packagesBoxs .Pcontent {
  font-size: 1.4rem;
}

@media (max-width: 450px) {
  .catogry-wrapper #menu {
    grid-template-columns: repeat(1, 1fr);
  }

  .catogry-wrapper {
    margin-left: 5rem;
  }

  .packagesBoxs img {
    height: 35rem;
    width: 35rem;
    object-fit: cover;
  }

  .package-name h2 {
    width: 75%;
  }
}
