@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

li {
  text-decoration: none;
}

:root {
  /* --gold-color: #c6974a; */
  --black-color: #0d0d0d;
  --white-color: #fff;
  --pink-color: #c69ca3;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid #aaa;
}

section {
  padding: 3rem 9%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--white-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--pink-color);
  }
}

body {
  background: var(--white-color);
  overflow-x: hidden;
}

.pink-shade {
  background: linear-gradient(to right, #c69ca3, #ffe6f2);
  padding: 0.5rem;
}

.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

/* small banner at top */
.banner {
  background-color: #c69ca3; /* Match the color from the image */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  font-size: 14px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* ----------------------------------------------------Header------------------------------- */

.header {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--white-color);
  padding: 1rem 0;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  transition: 0.5s;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32rem 0 0;
  /* margin-right: 30rem; */
}

.navbar {
  z-index: 2;
  overflow: hidden;
  /* background-color: #333; */
  /* font-family: Arial; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: var(--black-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--black-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown {
  transition: all ease 0.5s;
}

.dropdown .dropbtn i {
  color: var(--light-color);
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--pink-color);
  border-radius: 5px;
  color: var(--white-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--white-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--pink-color);
  color: var(--black-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header-button {
  padding-left: 10rem;
}

/* -------------------------------sidebar---------------------------- */

.navbar-toggler i {
  position: absolute;
  z-index: 1;
  left: 14%;
  top: 31%;
  /* background-color: var(--black-color); */
  color: var(--black-color);
  font-size: 3rem;
  display: none;
}

.sidepanel {
  background-color: var(--light-color);
  z-index: 1;
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: -320px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 40px 20px 20px 20px;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-btn {
  background-color: transparent;
}
.sidebar button {
  width: 35px;
  height: 36px;
  background-color: var(--pink-color);
  padding: 10px 12px 10px 12px;
  margin-bottom: 10rem;
  border-radius: 0.25em;
  /* border: var(--border); */
  color: var(--black-color);
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar button:hover {
  background: white;
  /* color: var(--white-color); */
}
.sidebar a {
  padding: 10px 0;
}

aside ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
aside ul li {
  margin: 15px 0;
}
aside li a {
  color: var(--black-color);
  transition: 500ms;
  padding: 10px 0;
}
aside ul li a.active {
  color: var(--black-bg);
}

aside .pages {
  font-weight: 500;
  color: #d3c9c1;
  margin: 11px 0 7px 0;
}
.collapse-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.collapse-btn i {
  border: 1px solid #d3c9c1;
  border-radius: 40px;
  padding: 7px 8px;
}
.collapse-btn i:hover {
  border: 1px solid var(--blue-color);
}
.plus_collapse {
  margin: -52px 0 0 0;
  height: 45px;
}
#pages {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.show {
  height: 500px !important;
  transform: height 0.34s ease;
}

.nav-link {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--black-color);
  margin: 10rem 1.2rem;
}
/* .logo {
    margin-right: 5rem;
  } */
.logo img {
  width: 12rem;
  cursor: pointer;
}

.addtocart i {
  font-size: 3rem;
  color: var(--black-color);
  margin-right: 1rem;
  cursor: pointer;
}
.addtocart i:hover {
  color: var(--pink-color);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efcccc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--black-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #ff1493;
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: var(--pink-color);
  padding: 10px 12px 10px 12px;
  border-radius: 0.25em;
}

/* ---------------right sidebar------------------ */
.sidebar {
  width: 300px;
  height: 100%;
  background-color: #efcccc;
  position: fixed;
  top: 0;
  right: -300px; /* Hidden by default */
  transition: right 0.3s ease;
  /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); */
  padding: 20px;
}
.right-sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10rem;
}
.right-sidebar-content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--black-color);
}
.right-sidebar-content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black-color);
}

.sidebar.open {
  right: 0; /* Slide in */
}

.right-close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28rem;
}

/* -----------------------------------------Hero------------------------------------ */

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 1s ease;
  background-color: red;
}

.slide {
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 4em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 10px 0;
}

.shop-now {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* -----------------------------------------Qualities------------------------------------ */

.qualities {
  margin-top: 3rem;
}

.qualities-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.qualities-wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
.qualities-icon i {
  font-size: 3rem;
}
.qualities-content h2 {
  font-size: 2rem;
}
.qualities-content p {
  font-size: 1.3rem;
}

/* -----------------------------------------Products------------------------------------ */

.products-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.products-content h1 {
  margin-right: 45rem;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product1 {
  cursor: pointer;
}
.product1 img {
  width: 350px;
}
.product1 h2 {
  font-size: 2rem;
  text-align: center;
}
.product1 p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -0.1px;
}

/* -----------------------------------------Deals------------------------------------ */

.deals-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  position: relative;
  margin-left: -5%;
}

.deals-list {
  position: relative;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.deals-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.deal1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.deal2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.deal3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.deal4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.deal5-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.deal5 {
  position: absolute;
  top: -5%;
  right: -44%;
  width: 450px;
  height: 480px;
  /* background-color: red; */
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

/* -----------------------------------------Video------------------------------------ */
.video-big-container {
  width: 100%;
  height: 85vh;
  background-color: red;
}

.video {
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100%; */
}

.video-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-wrapper iframe {
  width: 80%;
  /* height: 100%; */
  border: 10px solid rgb(98, 41, 212);
  border-radius: 50px;
}

/* -----------------------------------------Gears------------------------------------ */
.gears-big-container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-image: repeating-radial-gradient(
    #e2d1d1 50%,
    #e7d2d2ee 70%,
    #f5c7a1 95%
  );
  background-size: 50px 50px;
}

.gears-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  text-align: center;
}

.gear1 {
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 50%;
  margin-left: 15rem;
}

/* ---------------------------------------Footer----------------------------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 40vh; */
  margin-top: 5rem;
}

.footer-left {
  /* padding-left: 3rem; */
  flex-direction: column;
}
.footer-left p {
  width: 50rem;
  font-size: 1.5rem;
}
.footer-socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 2rem;
}
.social1:hover {
  background-color: white;
}
.social1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--pink-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social1 a {
  color: black;
}
.social1 i {
  font-size: 3rem;
}

.contact-info .contact-heading {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}
.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contact-wrapper i {
  font-size: 2rem;
}

.footer-right {
  margin-left: 10rem;
}
.newsletter-content h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(5.5, 0.3, 0.3, 0.3);
  padding: 0 1.5rem;
}
.newsletter-content form {
  width: 100%;
  height: 100%;
}
.newsletter-content .newsletter {
  width: 100%;
  height: 100%;
  border: 2px solid var(--pink-color);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
  /* background-color: red; */
  margin-bottom: 2rem;
  color: black;
}
.newsletter-content .btn-1 {
  width: 100%;
  height: 100%;
  border: 2px solid var(--pink-color);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
  /* background-color: red; */
  margin-bottom: 2rem;
  color: black;
  cursor: pointer;
}
.newsletter-content .btn-1:hover {
  background-color: var(--pink-color);
  color: white;
}

.copywrite {
  margin-top: -0.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pink-color);
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--black-color);
  margin: 0.5rem 0;
  margin-top: 3rem;
}

/* <!--------------------- Back to top btn ---------------> */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--black-color);
  background-color: var(--pink-color);
  z-index: 99999999999999999;
  display: none;
}
#backToTop:hover {
  background-color: var(--blue-color);
}

#instagrmBar {
  background: transparent;
  position: fixed;
  bottom: 60px;
  right: 15px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99999999999999999;
  /* display: none; */
}
#instagrmBar i {
  font-size: 40px;
  color: #64cd8a;
}

/* ---------------------------------------Breakpoints----------------------------------- */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .navbar-toggler i {
    display: block;
  }

  .navbar {
    display: none;
  }
  .header-container {
    padding: 0 2rem;
  }

  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
  .shop-now {
    font-size: 0.8em;
  }

  .qualities-wrapper-container {
    flex-direction: column;
  }

  .products-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .products-content {
    justify-content: center;
    width: 200%;
  }

  .deals-wrapper {
    grid-template-columns: 1fr;
    display: none;
  }
  .deal5 {
    position: inherit;
  }

  .video-big-container {
    height: 68vh;
  }
  .video-wrapper iframe {
    width: 100%;
    height: 50rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-socials-wrapper {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .products-content h1 {
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
  }

  .product1 img {
    width: 300px;
  }

  .video-content p {
    font-size: 1.3rem;
  }

  .gears-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: flex-end;
    margin-left: -10rem;
  }
  .gear1 {
    width: 200px;
    height: 200px;
  }

  .video-wrapper iframe {
    width: 100%;
    height: 30rem;
  }
}
